.posts {
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--heading);
  }

  p {
    color: var(--body);
    font-size: 1.1rem;
  }
  > a {
    display: block;
  }
  a + a {
    margin-top: 2rem;
  }

  button {
    border: none;
    background: transparent;
    color: var(--highlight);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

.autor {
  display: flex;
  align-items: center;
  justify-content: initial;
  font-weight: 400;
  color: var(--info);
  margin-top: 1.25rem;
  time {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    font-size: 0.9rem;
    padding: 10px;
    letter-spacing: 0.02rem;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 10px;
    letter-spacing: 0.02rem;
  }
}

.buttonExit {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background: var(--heading);
  color: var(--background);
  width: 100%;
  font-weight: bold;
  height: 58px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  a {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
