.banner {
  display: flex;
  width: 100%;
  height: 24rem;
  margin: 0 auto;
  object-fit: cover;
  justify-content: center;
}

.details {
  display: flex;
  margin: 2rem 0;
  color: var(--info);
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  svg {
    margin-right: 0.25rem;
  }
  span {
    margin-right: 2rem;
  }
}

.text {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: var(--info);
  }

  p {
    font-weight: normal;
    color: var(--info);
    font-size: 1rem;
    line-height: 1.4;
  }
}

.article {
  .mainTitle {
    color: var(--heading);
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    color: var(--info);
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  font-weight: normal;

  h2,
  h3 {
    color: var(--heading);
  }
  li {
    list-style-type: none;
    line-height: 1.4;
    color: var(--info);
  }
}
